/**
 * Settings for the Zngine application
 */
$blue: #009eea; // Use: navigation, buttons, links;
$blue-over: #006c9e; // Use: navigation, buttons, links hover-state;
$blue-down: #00496b; // Use: navigation, buttons, links active-state;
$zngerine: #eb0045; // Use: notifications;
$black: #262626; // Use: calendar;
$pure-black: #000000; //Use: Calendar;
$dark-gray: #424242; // Use: text, icons, activity modules;
$medium-gray: #8C8C8C; // Use: form-field module, notifications bar;
$light-gray: #F1F1F1; // Use: background occasionally, behind content modules;
$silver: #BEBEBE; // Use: media bar icons, live text;
$white: #FFFFFF; // Use: text, form fields, content modules;
$chrome-shadow: #262626;  // Use: Chrome Shadow